*{
    font-family: cursive;
    padding: 0;
    box-sizing: border-box;
} 

#color1{
    color: rgb(223, 25, 25);
  }
  #color2{
    color: rgb(14, 197, 14);
  }
  .message { font-size: 1.3em; font-weight: bold;  margin-top: 30px; }

.container{
    max-width: 800px;
    margin: auto; 
    padding: 50px 0;

}

input{
    margin-top: 30px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid  black;
    padding: 20px;   
    outline: none;
}

button{
    width: 170px;
    height: 50px;
    margin-top: 30px;
}